<% include partials/header %> 
<div class="container">
    <h1>Add a new campground here</h1>
    <form action="/campgrounds" method="POST">
        <div class="form-group">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="image" placeholder="Image Url">
            <input type="text" name="desc" placeholder="Description">
        </div>        
        <button type="submit">Add</button>
    </form>

    <p><a href="/campgrounds">Back to all campgrounds</a></p>
</div>

<% include partials/footer %> 