<% include ../partials/header %> 

<div class="container d-flex align-items-center flex-column">

    <p>Add a new campground here</p>
    <form action="/campgrounds" method="POST">
        <div class="form-group">
            <input type="text" name="name" placeholder="Name">
        </div>  
    <div class="form-group">
        <input type="text" name="image" placeholder="Image Url">
    </div>
    <div class="form-group">
        <input type="text" name="desc" placeholder="Description">
    </div>
        <button type="submit">Add</button>
    </form>
    <p><a href="/campgrounds">Back to all campgrounds</a></p>

</div>


<% include ../partials/footer %> 